---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=365815db18c4884bdcd5d3beb873d2ee&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1647634919,"sunrise":1647608790,"sunset":1647652167,"temp":48.45,"feels_like":47.08,"pressure":1016,"humidity":37,"dew_point":24.39,"uvi":4.76,"clouds":15,"visibility":10000,"wind_speed":4,"wind_deg":165,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1647633600,"temp":48.45,"feels_like":48.45,"pressure":1016,"humidity":37,"dew_point":24.39,"uvi":4.76,"clouds":15,"visibility":10000,"wind_speed":1.95,"wind_deg":163,"wind_gust":3.8,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1647637200,"temp":48.67,"feels_like":48.67,"pressure":1015,"humidity":34,"dew_point":22.77,"uvi":3.62,"clouds":20,"visibility":10000,"wind_speed":0.94,"wind_deg":313,"wind_gust":7.56,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1647640800,"temp":49.48,"feels_like":46.33,"pressure":1015,"humidity":30,"dew_point":20.79,"uvi":2.05,"clouds":31,"visibility":10000,"wind_speed":7.54,"wind_deg":323,"wind_gust":14.27,"weather":[{"id":802,"[...]
