---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 06 Mar 2022 01:01:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-875013432"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-571368946"}]}]}'
  recorded_at: Sun, 06 Mar 2022 01:01:32 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=365815db18c4884bdcd5d3beb873d2ee&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646528493,"sunrise":1646486827,"sunset":1646528160,"temp":271.54,"feels_like":269.84,"pressure":1013,"humidity":66,"dew_point":266.65,"uvi":0,"clouds":99,"visibility":10000,"wind_speed":1.34,"wind_deg":101,"wind_gust":3.13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1646528520,"precipitation":0},{"dt":1646528580,"precipitation":0},{"dt":1646528640,"precipitation":0},{"dt":1646528700,"precipitation":0},{"dt":1646528760,"precipitation":0},{"dt":1646528820,"precipitation":0},{"dt":1646528880,"precipitation":0},{"dt":1646528940,"precipitation":0},{"dt":1646529000,"precipitation":0},{"dt":1646529060,"precipitation":0},{"dt":1646529120,"precipitation":0},{"dt":1646529180,"precipitation":0},{"dt":1646529240,"precipitation":0},{"dt":1646529300,"precipitation":0},{"dt":1646529360,"precipitati[...]
