---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 06 Mar 2022 23:02:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1628039727"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=GwAhAJTmoZV7TcORuZo6pF7j2QWSIAim&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=399435058"}]}]}'
  recorded_at: Sun, 06 Mar 2022 23:02:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=365815db18c4884bdcd5d3beb873d2ee&lat=39.738453&lon=-104.984853
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1646607732,"sunrise":1646573135,"sunset":1646614624,"temp":267.71,"feels_like":264.02,"pressure":1020,"humidity":82,"dew_point":265.42,"uvi":0.48,"clouds":100,"visibility":10000,"wind_speed":2.24,"wind_deg":332,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13d"}],"snow":{"1h":0.31}},"minutely":[{"dt":1646607780,"precipitation":0.2879},{"dt":1646607840,"precipitation":0.2624},{"dt":1646607900,"precipitation":0.2368},{"dt":1646607960,"precipitation":0.2202},{"dt":1646608020,"precipitation":0.2036},{"dt":1646608080,"precipitation":0.187},{"dt":1646608140,"precipitation":0.1704},{"dt":1646608200,"precipitation":0.1538},{"dt":1646608260,"precipitation":0.143},{"dt":1646608320,"precipitation":0.1322},{"dt":1646608380,"precipitation":0.1214},{"dt":1646608440,"precipitation":0.1106},{"dt":1646608500,"precipitation":0},{"dt":1[...]
